.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.quote-container {
  background-color: rgba(0, 0, 0, 0.7); /* Darkening overlay */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 500px;
  margin-top: 20px;
}

blockquote p {
  font-size: 18px;
  margin-bottom: 10px;
  color: white; /* Text color on dark background */
}

blockquote footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 16px;
  font-style: italic;
  margin-top: 10px;
  color: white; /* Text color on dark background */
}

button {
  background-color: #61dafb;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #4096ce;
}
